* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'proxima-nova', sans-serif;
}

.navbar {
  background-color: #fff;
  margin-bottom: 100px;
  padding: .75em 1em !important;
}

.nav-link {
  font-size: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.nav-item:last-child a {
  padding-right: 0 !important;
}

.navbar-brand {
  width: 60px;
}

.mobile {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.desktop {
  display: inherit;
}

.container {
  padding-left: 25px !important;
  padding-left: 25px !important;
}

.title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 55px;
  font-family: serif;
  font-family: 'Cormorant Garamond', serif;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 25px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
}

.section {
  padding-top: 10px;
}

p {
  font-size: 15px;
}

.m-80 {
  margin-bottom: 80px;
}

.m-55 {
  margin-bottom: 55px;
}

.social-links {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  color: #000 !important;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.email {
  margin-bottom: 25px;
}

.email a {
  font-size: 18px;
  font-weight: bold;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 360px;
  margin-top: 10px;
}

.bg1 {
  background-image: url('../images/bg1.jpg');
  background-position: center center;
}

.bg2 {
  background-image: url('../images/bg2.jpg');
  background-position: center center;
}

#contact {
  position: relative;
}

.logo-icon {
  width: 60px;
  position: absolute;
  right: 0;
  top: 12px;
  margin-right: -17px;
}

.little-guy {
  width: 30px;
  position: absolute;
  right: 50%;
  opacity: 0;
}

.little-guy:hover {
  opacity: 1;
}

.little-guy-wrapper {
  opacity: 1 !important;
}

@media (max-width: 991px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .m-55 {
    margin-bottom: 0;
  }

  .sub-title {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 50px;
  }

  .last p {
    margin-bottom: 10px;
  }

  .nav-item:first-child a {
    padding-left: 0 !important;
  }

  .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-expand-lg > .container {
    padding-right: 25px !important;
  }
}
